%rebase('osnova.html', naslov='NBA Ekipe')

<center>
<div>
   <p class="lead">Statistični podatki ekip:</p>
 <p>
   <a href="{{url('ekipe_statistika_19_20_get')}}"><button class="btn btn-outline-dark">2019-2020</button></a>
   <a href="{{url('ekipe_statistika_20_21_get')}}"><button class="btn btn-outline-dark">2020-2021</button></a>
   <a href="{{url('ekipe_statistika_21_22_get')}}"><button class="btn btn-outline-dark">2021-2022</button></a> 
 </p>
 </div>
</center> 


  <table class="table  table-hover" data-toggle="table">
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Ekipa</th>
     <th data-sortable="true">Ime ekipe</th>
     <th data-sortable="true">Lokacija</th>
     <th data-sortable="true">Dvorana</th>
     <th data-sortable="true">Kapaciteta</th>
     <th data-sortable="true">Ustanovitev</th>
     <th data-sortable="true">Konferenca</th>
     <th data-sortable="true">Divizija</th>
  </tr>
  </thead>
  %for (ekipa, ime, lokacija, dvorana, kapaciteta, ustanovitev, konferenca, divizija) in ekipe_osnovni_podatki:
    <tr>
       <td>{{ekipa}}</td>
       <td>{{ime}}</td>
       <td>{{lokacija}}</td>
       <td>{{dvorana}}</td>
       <td>{{kapaciteta}}</td>
       <td>{{ustanovitev}}</td>
       <td>{{konferenca}}</td>
       <td>{{divizija}}</td>
    </tr>
  %end
  </table>

  