%rebase('osnova.html', naslov='NBA Ekipe')

<div>
   Statistični podatki ekip:
 <p>
   <a href='/ekipe_statistika_19_20/'><button>2019-2020</button></a>
   <a href='/ekipe_statistika_20_21/'><button>2020-2021</button></a>
   <a href='/ekipe_statistika_21_22/'><button>2021-2022</button></a> 
 </p>
 </div>
 
 <p>
 <a href='/'><button>Domov</button></a>
 </p>

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>Ekipa</th>
     <th>Ime ekipe</th>
     <th>Lokacija</th>
     <th>Dvorana</th>
     <th>Kapaciteta</th>
     <th>Ustanovitev</th>
     <th>Konferenca</th>
     <th>Divizija</th>
  </tr>
  %for (ekipa, ime, lokacija, dvorana, kapaciteta, ustanovitev, konferenca, divizija) in ekipe_osnovni_podatki:
    <tr>
       <td>{{ekipa}}</td>
       <td>{{ime}}</td>
       <td>{{lokacija}}</td>
       <td>{{dvorana}}</td>
       <td>{{kapaciteta}}</td>
       <td>{{ustanovitev}}</td>
       <td>{{konferenca}}</td>
       <td>{{divizija}}</td>
    </tr>
  %end
  </table>

  <p>
  <a href='/prijava/'>Prijava</a>
  <a href='/igralci/'>Igralci</a>
  <a href='/ekipe/'>Ekipe</a>
  <a href='/registracija/'>Registracija</a>
  </p>