%rebase('osnova.html', naslov='Statistika ekip za sezono 2020/2021')

<center>
<div>
  <p class="lead">Statistični podatki ekip:</p>
<p>
  <a href='/ekipe_statistika_19_20/'><button class="btn btn-outline-dark">2019-2020</button></a>
  <a href='/ekipe_statistika_21_22/'><button class="btn btn-outline-dark">2021-2022</button></a> 
</p>
</div>
</center>

<center>
<div>
<p>
<a href='/ekipe/'><button class="btn btn-outline-dark btn-sm">Nazaj</button></a>
<a href='/zacetna/'><button class="btn btn-outline-dark btn-sm">Domov</button></a>
</p>
</div>
</center>



  <table id="igralci" class="table  table-hover" data-toggle="table">
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Kratica kluba</th>
     <th data-sortable="true">Ime kluba</th>
     <th data-sortable="true">Število odigranih tekem</th>
     <th data-sortable="true">Zmage</th>
     <th data-sortable="true">Porazi</th>
     <th data-sortable="true">Točke</th>
     <th data-sortable="true">Skoki</th>
     <th data-sortable="true">Podaje</th>
     <th data-sortable="true">Izgubljene žoge</th>
     <th data-sortable="true">Ukradene žoge</th>
     <th data-sortable="true">Blokade</th>
     <th data-sortable="true">+/-</th>
  </tr>
  </thead>
  %for (ekipa, ime, odigrane_tekme, zmage, porazi, točke, skoki, podaje, izgubljene_žoge, ukradene_žoge, blokade, razlika_ob_igri) in ekipe20_21:
    <tr>
       <td>{{ekipa}}</td>
       <td>{{ime}}</td>
       <td>{{odigrane_tekme}}</td>
       <td>{{zmage}}</td>
       <td>{{porazi}}</td>
       <td>{{točke}}</td>
       <td>{{skoki}}</td>
       <td>{{podaje}}</td>
       <td>{{izgubljene_žoge}}</td>
       <td>{{ukradene_žoge}}</td>
       <td>{{blokade}}</td>
       <td>{{razlika_ob_igri}}</td>
    </tr>
  %end
  </table>

  
  


