%rebase('osnova.html', naslov='Osnovni podtaki o igralcih v letih 2020-2022')

<div>
  Statistični podatki igralcev:
<p>
  <a href='/igralci_statistika_19_20/'><button>2019-2020</button></a>
  <a href='/igralci_statistika_20_21/'><button>2020-2021</button></a>
  <a href='/igralci_statistika_21_22/'><button>2021-2022</button></a> 
</p>
</div>

<p>
<a href='/'><button>Domov</button></a>
</p>



<div>
  Igralec: <input id="isci_igralec" type="text" oninput="isci_igralec()" />
  Starost: <input id="isci_starost" type="text" oninput="isci_starost()" />
  
</div>

  <table id="igralci" class="table  table-hover" data-toggle="table" >
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Ime in priimek</th>
     <th data-sortable="true">Starost</th>
     <th data-sortable="true">Višina</th>
     <th data-sortable="true">Teža</th>
     <th data-sortable="true">Univerza</th>
     <th data-sortable="true">Država</th>
     <th data-sortable="true">Leto nabora</th>
     <th data-sortable="true">Krog nabora</th>
     <th data-sortable="true">Številka nabora</th>
  </tr>
</thead>
  %for (igralec, starost, višina, teža, univerza, država, leto_nabora, krog_nabora, številka_nabora) in igralci_vsi:
    <tr>
       <td>{{igralec}}</td>
       <td>{{starost}}</td>
       <td>{{višina}}</td>
       <td>{{teža}}</td>
       <td>{{univerza}}</td>
       <td>{{država}}</td>
       <td>{{leto_nabora}}</td>
       <td>{{krog_nabora}}</td>
       <td>{{številka_nabora}}</td>
    </tr>
  %end
  </table>

  
  


