%rebase('osnova.html', naslov='Statistika igralcev za sezono 2020/2021')

<center>
<div>
  <p class="lead">Statistični podatki igralcev:</p>
<p>
  <a href='/igralci_statistika_19_20/'><button class="btn btn-outline-dark">2019-2020</button></a>
  <a href='/igralci_statistika_21_22/'><button class="btn btn-outline-dark">2021-2022</button></a> 
</p>
</div>
</center>

<center>
<div>
<p>
<a href='/igralci/'><button class="btn btn-outline-dark btn-sm">Nazaj</button></a>
<a href='/zacetna/'><button class="btn btn-outline-dark btn-sm">Domov</button></a>
</p>
</div>
</center>

<div class="col py-2">
  Igralec: <input id="isci_igralec" type="text" oninput="isci_igralec()" />
</div>

  <table id="igralci" class="table  table-hover" data-toggle="table">
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Ime in priimek</th>
     <th data-sortable="true">Klub</th>
     <th data-sortable="true">Število odigranih tekem</th>
     <th data-sortable="true">Minute</th>
     <th data-sortable="true">Točke</th>
     <th data-sortable="true">Skoki</th>
     <th data-sortable="true">Podaje</th>
     <th data-sortable="true">Izgubljene žoge</th>
     <th data-sortable="true">Ukradene žoge</th>
     <th data-sortable="true">Blokade</th>
     <th data-sortable="true">+/-</th>
  </tr>
  </thead>
  %for (igralec, klub, odigrane_tekme, minute, točke, skoki, podaje, izgubljene_žoge, ukradene_žoge, blokade, razlika_ob_igri) in igralci20_21:
    <tr>
       <td>{{igralec}}</td>
       <td>{{klub}}</td>
       <td>{{odigrane_tekme}}</td>
       <td>{{minute}}</td>
       <td>{{točke}}</td>
       <td>{{skoki}}</td>
       <td>{{podaje}}</td>
       <td>{{izgubljene_žoge}}</td>
       <td>{{ukradene_žoge}}</td>
       <td>{{blokade}}</td>
       <td>{{razlika_ob_igri}}</td>
    </tr>
  %end
  </table>

  
  


