

<!doctype html>
<html lang="sl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">



    <title>NBA 2020-22</title>
    <script src="/static/banka.js"></script>
</head>


<body>
<div class="has-bg-img">

<center>
    <h1>NBA sezone 2020-22</h1>
    <p>Za nadaljevanje se prijavi ali registriraj.</p>    
</center>

<center>
<p>
   <a href='/prijava/'><button>Prijava</button></a>
   <a href='/registracija/'><button>Registracija</button></a>
</p>
</center>


<center>
<a href="https://www.nba.com/">
<img class="bg-img" src="https://upload.wikimedia.org/wikipedia/sl/0/02/Nba-logo.jpg" alt="" height="50%" width="50%">
</a>
</center>
</div>
</body>

</html>