%rebase('osnova.html', naslov='Lastniki NBA ekip')




<p>
<a href='/'><button>Domov</button></a>
</p>



<div>
  Ekipa: <input id="isci_igralec" type="text" oninput="isci_igralec()" />
  
</div>



  <table id="igralci" class="table  table-hover" data-toggle="table" 
  >
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Ekipa</th>
     <th data-sortable="true">Ime ekipe</th>
     <th data-sortable="true">Lastniki</th>
     <th data-sortable="true">Upravljanje</th>
     <th>Nakupna cena</th>
     <th data-sortable="true">Leto nakupa</th>
  </tr>
  </thead>
  <tbody>
  %for (ekipa, ime_ekipe, lastniki, upravljalska_enota, nakupna_cena, leto_nakupa) in lastniki:
    <tr>
       <td>{{ekipa}}</td>
       <td>{{ime_ekipe}}</td>
       <td>{{lastniki}}</td>
       <td>{{upravljalska_enota}}</td>
       <td>{{nakupna_cena}}</td>
       <td>{{leto_nakupa}}</td>
    </tr>
  %end
</tbody>
</table>


