% rebase('osnova.html', naslov='Izbriši sponzorja in ekipo')

<center>
<div>
<p class="lead">Ali res želite izbrisati to vrstico?</p>
</div>
</center>


<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
          <div class="col py-2">
  <form action="{{url('izbrisi_sponzorja_get', ekipa=ekipa, trenutni_sponzor=trenutni_sponzor)}}" method="POST">
      <button class="btn btn-success btn-lg" type="submit">Izbriši</button>
  </form>
          </div>
          <div class="col py-2">
              <a href="{{url('sponzorji_get')}}"><button class="btn btn-danger btn-lg">Nazaj</button></a>
          </div>
      </div>
    </div>
</div>

