%rebase('osnova.html', naslov='Sponzorji NBA ekip')

<div class="row">
<div class="col py-2">
  Ekipa: <input id="isci_igralec" type="text" oninput="isci_igralec()" />
</div>

<div class="col py-2 col-lg-2">
  <a href="{{url('dodaj_sponzorja_get')}}"><button class="btn btn-outline-dark">Dodaj ekipo in sponzorja</button></a>
</div>
</div>


  <table id="igralci" data-toggle="table">
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Ekipa</th>
     <th data-sortable="true">Sponzor</th>
     <th>Uredi sponzorje</th>
     <th>Izbriši vrstice</th>
  </tr>
  </thead>
  %for (ekipa, sponzor) in sponzorji:
    <tr>
       <td>{{ekipa}}</td>
       <td>{{sponzor}}</td>
       <td><a href="{{url('uredi_sponzorja_get', ekipa=ekipa, trenutni_sponzor=sponzor)}}">Uredi sponzorja</a></td>
       <td><a href="{{url('izbrisi_sponzorja_get', ekipa=ekipa, trenutni_sponzor=sponzor)}}">Izbriši vrstico</a></td>
    </tr>
  %end
  </table>