% rebase('osnova.html', naslov='Uredi sponzorja')


  <form action="/sponzorji/uredi/{{ekipa}}" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="sponzor">Nov sponzor</label>
            <input id="sponzor" name="sponzor" type="text" class="form-control" required 
                oninput="this.setCustomValidity('')"
                oninvalid="this.setCustomValidity('Obvezno polje')"
                />

        </div>
    </div>
    <div class="form-row col">
      <button class="btn btn-outline-dark" type="submit">
        Uredi
      </button>
    </div>
  </form>