%rebase('osnova.html', naslov='Trenerji sezone 2021/22')


<div class="col py-2">
  Trener: <input id="isci_igralec" type="text" oninput="isci_igralec()" />
</div>

  <table id="igralci" class="table  table-hover" data-toggle="table">
  <thead class="thead-dark">
  <tr>
     <th data-sortable="true">Ime in priimek</th>
     <th data-sortable="true">Ekipa</th>
     <th data-sortable="true">Število let pri ekipi</th>
     <th data-sortable="true">Leta kariera</th>
     <th data-sortable="true">Zmage v karieri</th>
     <th data-sortable="true">Porazi v karieri</th>
  </tr>
  </thead>
  %for (trener, ekipa, leta_pri_ekipi, leta_kariere, zmage_v_karieri, porazi_v_karieri) in trenerji:
    <tr>
       <td>{{trener}}</td>
       <td>{{ekipa}}</td>
       <td>{{leta_pri_ekipi}}</td>
       <td>{{leta_kariere}}</td>
       <td>{{zmage_v_karieri}}</td>
       <td>{{porazi_v_karieri}}</td>
    </tr>
  %end
  </table>