%rebase('osnova.html', naslov='NBA 2020-2022')


<div class="has-bg-img">
<center>
<p>
    <a href='/igralci/'><button>Igralci</button></a>
    <a href='/ekipe/'><button>Ekipe</button></a>
    <a href='/trenerji/'><button>Trenerji</button></a>
    <a href='/lastniki/'><button>Lastniki</button></a>
    <a href='/sponzorji/'><button>Sponzorji</button></a>
</p>
</center>




<center>
<a href="https://www.nba.com/">
<img class="bg-img" src="https://wallpaperaccess.com/full/6965141.jpg" alt="" height="50%" width="50%">
</a>
</center>
</div>